* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.conteiner-big {
  width: 1440px;
}
.conteiner {
  width: 1280px;
  margin-left: 80px;
}
.title {
  /* color: #FFF; */
  color: #e20707;
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding-bottom: 44px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.top-nav-title {
  color: #22202e;
  font-size: 24px;
}
.top-nav-item {
  display: flex;
  flex-direction: row;
  color: #726e8d;
  font-family: "Open Sans";
  font-size: 16px;
}
.top-nav-items {
  padding: 0 22px;
}
.top-nav-item-img {
  display: flex;
  flex-direction: row;
}
.top-nav-item-imgs:nth-child(2) {
  padding: 0 16px;
}
.line-top {
  border: 1px solid #ebe8f4;
  margin-bottom: 80px;
}
.header {
  margin-bottom: 36px;
}
.header-title {
  color: #2a254b;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 24px;
}
.header-nav {
  display: flex;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav-item {
  display: flex;
  flex-direction: row;
}
.header-nav-second-item {
  display: flex;
  flex-direction: row;
}
.header-nav-items,
.header-nav-second-items {
  line-height: 150%;
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 12px 24px;
}
.header-nav-second-items:first-child {
  font-size: 14px;
}
.main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}
.main-img {
  padding-bottom: 24px;
  padding-top: 28px;
}
.main-product {
  color: #2a254b;
  font-size: 20px;
  line-height: 140%;
  padding-bottom: 8px;
}
.main-prise {
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 28px;
}
.main-btn {
  display: block;
  width: fit-content;
  margin: 28px auto 40px auto;
  padding: 16px 32px;
  justify-content: center;
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 15px;
  background-color: #f9f9f9;
}
.aside {
  display: flex;
}

.sign-up-title {
  color: #2a254b;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  padding: 71px 0 21px 49px;
}
.sign-up-text {
  width: 514px;
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 21px 0 0 49px;
}

.sign-up-btn {
  display: inline-block;
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
  margin: 216px 0 72px 70px;
}
.footer {
  background-color: #2a254b;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-info {
  display: flex;
  justify-content: flex-start;
}
.footer-info li {
  padding: 12px 0;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
}
.footer-menu {
  padding: 58px 0 0 82px;
}
.footer-menu li:first-child,
.footer-categories li:first-child,
.footer-our-company li:first-child {
  font-size: 16px;
}
.footer-categories {
  padding: 58px 0 0 82px;
  margin-bottom: 48px;
}
.footer-our-company {
  padding: 58px 0 0 82px;
}
.footer-map {
  padding: 58px 82px 0 82px;
}
.line-footer {
  border-bottom: 1px solid #4e4d93;
  margin-bottom: 24px;
}
.footer-data-social-media {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-copyright {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  padding: 0 0 25px 80px;
}
.social-media {
  display: flex;
  align-items: center
  
  /* flex-direction: row; */
}
.social-media a {
  padding: 0 12px;
}
.social-media a:last-child {
  padding-right: 82px;
}
